{% extends 'base.html' %}
{% block title %}Form{% endblock title %}
{% block body %}

<div class="m-6 p-4 ms-3 me-3">

<div>
  <h1 style="text-align:center;">Timetable Form</h1>
</div>
<h2>Teacher details</h2> 
<h4 class="fw-light">Enter the following details for each teacher</h4>
<br>
<script>

teacher_arr = [
  "Mr. Chintu",
  "Mr. Shiva",
  "Mr. Ram",
  "Mr. Shyam",
  "Ms. Bharti",
  "Ms. Bhatt",
  "Mr. Arpan",
  "Ms. Rani",
  "Mr. Kulkarni",
  "Ms. Rishi",
  "Mr. Ayush",
  "Ms. Swati",
  "Mr. Dev",
  "Ms. Priya",
  "Mr. Varun",
  "Ms. Maya",
  "Mr. Surya",
  "Ms. Keerti",
  "Mr. Shreyas",
  "Ms. Gunjan",
  "Mr. Arjun",
  "Ms. Gayathri",
  "Ms. Rekha",
  "Ms. Kaajal",
  "Ms. Radha",
  "Ms. Ananya",
  "Mr. Swayam",
];

function autoFill() {
  document.getElementById("teacher_1_name").value = "Mr. Chintu";
  document.getElementById("teacher_1_subj").value = "English";
  document.getElementById("teacher_1_grades").value = "1,2,3,4,5";

  document.getElementById("teacher_2_name").value = "Mr. Shiva";
  document.getElementById("teacher_2_subj").value = "Maths";
  document.getElementById("teacher_2_grades").value = "1,2,3,4,5";

  document.getElementById("teacher_3_name").value = "Mr. Kulkarni";
  document.getElementById("teacher_3_subj").value = "Science";
  document.getElementById("teacher_3_grades").value = "1,2,3";

  document.getElementById("teacher_4_name").value = "Ms. Ananya";
  document.getElementById("teacher_4_subj").value = "Social";
  document.getElementById("teacher_4_grades").value = "1,2,3";

  document.getElementById("teacher_5_name").value = "Ms. Rekha";
  document.getElementById("teacher_5_subj").value = "Japanese";
  document.getElementById("teacher_5_grades").value = "1,2,3";

  document.getElementById("teacher_6_name").value = "Ms. Maya";
  document.getElementById("teacher_6_subj").value = "Science";
  document.getElementById("teacher_6_grades").value = "4,5";

  document.getElementById("teacher_7_name").value = "Ms. Rishi";
  document.getElementById("teacher_7_subj").value = "Social";
  document.getElementById("teacher_7_grades").value = "4,5";

  document.getElementById("teacher_8_name").value = "Mr. Ram";
  document.getElementById("teacher_8_subj").value = "Maths";
  document.getElementById("teacher_8_grades").value = "4,5";

  document.getElementById("teacher_9_name").value = "Mr. Shyam";
  document.getElementById("teacher_9_subj").value = "English";
  document.getElementById("teacher_9_grades").value = "6,7,8";

  document.getElementById("teacher_10_name").value = "Ms. Keerti";
  document.getElementById("teacher_10_subj").value = "Science";
  document.getElementById("teacher_10_grades").value = "6,7,8";

  document.getElementById("teacher_11_name").value = "Mr. Surya";
  document.getElementById("teacher_11_subj").value = "Social";
  document.getElementById("teacher_11_grades").value = "6,7,8,9";

  document.getElementById("teacher_12_name").value = "Mr. Salman";
  document.getElementById("teacher_12_subj").value = "Maths";
  document.getElementById("teacher_12_grades").value = "6,7,8,9";

  document.getElementById("teacher_13_name").value = "Mr. Ganshyam";
  document.getElementById("teacher_13_subj").value = "Social";
  document.getElementById("teacher_13_grades").value = "6,7,8,9";

  document.getElementById("teacher_14_name").value = "Ms. Reema";
  document.getElementById("teacher_14_subj").value = "English";
  document.getElementById("teacher_14_grades").value = "9,10,11,12";

  document.getElementById("teacher_15_name").value = "Ms. Radha";
  document.getElementById("teacher_15_subj").value = "Phsyics";
  document.getElementById("teacher_15_grades").value = "10,11,12";

  document.getElementById("teacher_16_name").value = "Mr. Dev";
  document.getElementById("teacher_16_subj").value = "Chemistry";
  document.getElementById("teacher_16_grades").value = "10,11,12";

  document.getElementById("teacher_17_name").value = "Mr. Arpan";
  document.getElementById("teacher_17_subj").value = "Computers/Bio";
  document.getElementById("teacher_17_grades").value = "10,11,12";

  document.getElementById("teacher_18_name").value = "Mr. Ayush";
  document.getElementById("teacher_18_subj").value = "English";
  document.getElementById("teacher_18_grades").value = "10,11,12";
}

</script>

<button onclick="autoFill()" class="btn-lg btn btn-outline-success">Autofill</button>
   


<form style="text-align:center;" action="{% url 'timetable:teacher_form' %}" method="POST">
{% csrf_token %}
{% for i in no_of_teachers %}
<p>

  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_{{i}}"  aria-controls="collapseWidth">
    Collapse teacher {{i}} info
  </button>
</p>

  <div id="collapse_{{i}}" class= "collapse card rounded-1 bg-info-subtle" style="background-colour:#bae6e5" aria-expanded="true">
   <div class="card-header">Teacher {{i}}</div>
 <div class="row g-1 align-items-center card-body  ">
  <div class="col-auto">
<label class="has-text-weight-medium  has-text-centered is-size-5" for="teacher_name">Please enter teacher name</label> 
<input id="teacher_{{i}}_name" name="teacher_{{i}}_name" class=" margin-5 form-control" aria-describedby="teacher_nameHelpInline" type="text" placeholder="Teacher name" name="teacher_name" id="teacher_name" required>
  </div>
  </div>




<div class="row g-1 align-items-center card-body">
  <div class="col-auto">
<label class="col-form-label" for="subj_taught">Please enter subjects taught</label> 
{% comment %} Make this input to dropdown {% endcomment %}
<input id="teacher_{{i}}_subj" name="teacher_{{i}}_subj" class="form-control"  type="text" placeholder="Subjects taught" name="subj_taught" id="subj_taught" required>
  </div>
  </div>


<div class="row g-1 align-items-center card-body">
  <div class="col-auto">
<label class="has-text-weight-medium  has-text-centered is-size-5" for="grades_taught">Please enter the grades taught (different grades separated by commas)</label> <br>
<input id="teacher_{{i}}_grades" name="teacher_{{i}}_grades" class="form-control" aria-describedby="grades_taughtHelpInline" type="text" placeholder="Grades taught" name="grades_taught" id="grades_taught" required>
</div>
</div>
</div>

<br>
<br>
<br>
{% endfor %}




<input type="submit" class="btn btn-primary">
</div>
{% endblock body %}